@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    font-family: 'Recursive';
    font-style: normal;
}

body {
    background: #FB6B6B;
}

div {
    margin: 15px;
    display: flex;
}

ion-icon[name='close-circle'] {
    color: #FF3030;
}

ion-icon[name='help-circle'] {
    color: #FF922E;
}

ion-icon[name='checkmark-circle'] {
    color: #2FBE34;
}

.root {

    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.app,
.root,
.screen01,
.screen02 {
    margin: 0px;
}

.screen02 {
    margin-bottom: 80px;
}

.zapIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.zapLogo {
    font-family: 'Righteous';
    color: #FFFFFF;
    font-size: 36px;
}

.screen01,
.screen02 {

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen01 .zapIcon {
    width: 240px;
    height: 200px;
}

.screen01 .beginButton {

    align-items: center;
    justify-content: center;

    width: 250px;
    height: 55px;
    margin: 30px;

    background: #FFFFFF;
    border: 1px solid #D70900;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: #D70900;
    font-weight: 400;
    font-size: 18px;
}

.screen02 {
    justify-content: flex-start;
}

.screen02 .header {

    justify-content: center;
    align-items: center;
}

.screen02 .zapIcon {
    width: 50px;
    height: 60px;
}

.screen02 .question {

    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 15px;

    width: 300px;
    height: 65px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.screen02 .opened,
.screen02 .revealed {
    background: #FFFFD5;
    height: 100%;


    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.screen02 .revealed {
    padding-bottom: 0px;
}

.screen02 .opened ion-icon {
    align-self: flex-end;
}

.screen02 .answered {
    text-decoration-line: line-through;
}

.screen02 .recallFlags {

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    margin: 8px 0px;
    margin-top: 20px;

    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.screen02 .recallFlags .recallFlag {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 2px;
    padding: 5px;
    width: 100%;
    min-height: 100%;


    justify-content: center;
    align-items: center;

    text-align: center;
}

.screen02 .recallFlags .red {
    background: #FF3030;
}

.screen02 .recallFlags .orange {
    background: #FF922E;
}

.screen02 .recallFlags .green {
    background: #2FBE34;
}

.screen02 .question ion-icon {
    font-size: 23px;
}

.screen02 .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
    height: 70px;
    margin: 0px;


    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}

.screen02 .redFlag {
    color: #FF3030;
}

.screen02 .orangeFlag {
    color: #FF922E;
}

.screen02 .greenFlag {
    color: #2FBE34;
}