@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    font-family: 'Recursive';
    font-style: normal;
}

body {
    background: #FB6B6B;
}

div {
    margin: 15px;
    display: flex;
}

ion-icon[name='close-circle'] {
    color: #FF3030;
}

ion-icon[name='help-circle'] {
    color: #FF922E;
}

ion-icon[name='checkmark-circle'] {
    color: #2FBE34;
}

.root {
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}

.app,
.root,
.screen01,
.screen02 {
    margin: 0px;
    min-height: 100vh;
}

.screen01,
.screen02 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}