.screen02 {
    margin-bottom: 80px;
    min-height: calc(100vh - 80px);
}

.screen02 {
    justify-content: flex-start;
}

.screen02 .zapIcon {
    width: 50px;
    height: 60px;
}

.screen02 .opened,
.screen02 .revealed {
    background: #FFFFD5;

    min-height: 130px;

    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.screen02 .revealed {
    padding-bottom: 0px;
}

.screen02 .opened ion-icon {
    align-self: flex-end;
}

.screen02 .answered {
    text-decoration-line: line-through;
}

.screen02 .recallFlags {

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    margin: 8px 0px;
    margin-top: 20px;

    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.screen02 .recallFlags .recallFlag {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 2px;
    padding: 5px;
    width: 100%;
    min-height: 100%;


    justify-content: center;
    align-items: center;

    text-align: center;
}

.screen02 .recallFlags .red {
    background: #FF3030;
}

.screen02 .recallFlags .orange {
    background: #FF922E;
}

.screen02 .recallFlags .green {
    background: #2FBE34;
}

.screen02 .redFlag {
    color: #FF3030;
}

.screen02 .orangeFlag {
    color: #FF922E;
}

.screen02 .greenFlag {
    color: #2FBE34;
}